
    <div class="row p-2">
        <div class="col-12  p-2 border border-3 rounded panel" 
            style="max-width: 350px;">

            <div class="row d-flex align-items-center justify-content-between ">
                <div class="form-group p-2 col-6" style="max-width: 150px">
                    <label class="py-2 " id="font2" >let pages =</label>
                </div>
                <div class="col-6">
                    <button class="btn btn-warning mx-1" (click)="decrementPage()"><strong>-</strong></button>
                    <input  type="number"
                            name="pags"
                            [min]="1" 
                            [(ngModel)]="pags"
                            (change)="cambiarCantidad1($event)"
                            style="max-width: 40px" />
                <button class="btn btn-warning mx-1" (click)="incrementPage()"><strong>+</strong></button>
                </div>

            <div class="form-group p-2 col-6" style="max-width: 150px">
                <label class="py-2" id="font2" >let languages =</label>
            </div>
            <div class=" col-6">
                <button class="btn btn-warning mx-1" (click)="decrementLang()"><strong>-</strong></button>
                    <input  type="number"
                            name="languages"
                            [min]="1" 
                            [(ngModel)]="languages" 
                            (change)="cambiarCantidad2($event)"
                            style="max-width: 40px" />
                <button class="btn btn-warning mx-1" (click)="incrementLang()"><strong>+</strong></button>
            </div>


            
            <app-modal></app-modal>
        </div>
    </div>



