
<form class="px-2 px-sm-4 py-3 ">
    <h1 > ¿What do you want to do?</h1>
    <br>
    
    
    <label id="font1">
        <input  type="checkbox"
                
                name="web"
                [(ngModel)]="web" 
                (change)="calculatePrice(); showPanel()">  Web page(500€)
    </label>
    <br>
        <div class="container " *ngIf="showChild" >
            <app-panell  
                        [(pags)]="pags"
                        [(languages)]="languages"
                        (pagsChange)="calculatePrice()"
                        (languagesChange)="calculatePrice()">
            
            </app-panell>
        </div>
    <br>
    
    <label id="font1">
        <input  type="checkbox" 
                name="seo" 
                [(ngModel)]="seo" 
                (change)="calculatePrice()"> SEO services (300 €)
    </label>
    <br>
    <br>

    <label id="font1">
        <input  type="checkbox" 
                name="ads" 
                [(ngModel)]="ads" 
                (change)="calculatePrice()"> Google Ads  (200 €)</label>

    <br>
    <br>
    <p id = "result"></p>
    <span id="font1">Total: {{precioTotal}} €</span>

    <div class="pt-3">
        <div class="mb-2">

          <input  type="text" 
                  class="form-control"  
                  style="max-width: 300px"
                  placeholder="Budget name">
                  
                  <p class="form-text text-danger">
                    <span>
                      Please enter your budget name.
                    </span>
                  </p>
        </div>
        <input  type="text" 
                class="form-control" 
                style="max-width: 300px"
                placeholder="Client name">
                <p class="form-text text-danger">
                  <span >
                    Please enter your client name.
                  </span>
                </p>
      </div>


</form>

    