
<form class="p-5">
    <h2> ¿Qué quieres hacer?</h2>
    
    
    <label>
        <input  type="checkbox"
                name="checked1"
                [(ngModel)]="checked1" 
                (change)="onCheckbox1($event)"> Una página web(500€)
    </label>
    <br>
        <div class="container">
            <app-panell *ngIf="showChildComponent"  
                        [totalSum]="totalSum"
                        (newQuantity1)="changePages($event)"
                        (newQuantity2)="changelanguages($event)">
            
            </app-panell>
        </div>
    <br>
    
    <label>
        <input  type="checkbox" 
                name="checked2" 
                [(ngModel)]="checked2" 
                (change)="onCheckbox2($event)"> Una campaña SEO (300 €)
    </label>
    <br>
    <br>

    <label>
        <input  type="checkbox" 
                name="checked3" 
                [(ngModel)]="checked3" 
                (change)="onCheckbox3($event)"> Una campaña de publicidad (200 €)</label>

    <br>
    <br>
    
    <p id = "result"></p>
    <span>Total: {{totalSum}} euros</span>


</form>

    